body{
	font-size: 18px;
	background-image: url("https://Namrata23-svg.github.io/my-website/libya.jpg.jpg");
	font-style: bold;
	
	

}
h1.heading{
	text-align: center;

}
.a{
	color: black;
}
h1.color{
	text-align: center;
}
h1.read{
	text-align: center;
}
h1.mark{
	text-align: center;
}
h1.book{
	text-align: center;
}
h1.copy{
	text-align: center;
}
h1.pages{
	text-align: center;
}